@use 'base';
@use 'date-headers';

.back-button {
  padding: 0.25em;
  padding-left: 0;
  padding-right: 0.7em;
  border: none;
  background: transparent;
  color: base.$accent;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}


pre:has(> code) {
  border-radius: 0.5em;
  padding: 0.5em;
  overflow-x: scroll;
}

main {
    p {
        text-align: justify;
        overflow-wrap: break-word;
    }
	*:not(h1, h2, h3, h4) {
	    line-height: 1.6;
	}
}
