@use 'base';
@use 'date-headers';

.blog {
  article {
    margin-bottom: 2em;
    border-radius: 1px;
    border-left-style: solid;
    border-left-color: #3dbeff;
    border-left-width: 2px;
    padding-left: 12px;

    p {
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }

    a {
      display: block;
      width: 100%;
      padding: 6px 6px 6px 1em;
    }
  }
}
