:root {
  --md-source: #297735;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001503;
  --md-ref-palette-primary10: #002106;
  --md-ref-palette-primary20: #00390F;
  --md-ref-palette-primary25: #004614;
  --md-ref-palette-primary30: #005319;
  --md-ref-palette-primary35: #096021;
  --md-ref-palette-primary40: #1D6C2C;
  --md-ref-palette-primary50: #398642;
  --md-ref-palette-primary60: #54A15A;
  --md-ref-palette-primary70: #6EBD72;
  --md-ref-palette-primary80: #89D98B;
  --md-ref-palette-primary90: #A4F6A4;
  --md-ref-palette-primary95: #C7FFC3;
  --md-ref-palette-primary98: #EBFFE6;
  --md-ref-palette-primary99: #F6FFF0;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #061407;
  --md-ref-palette-secondary10: #101F10;
  --md-ref-palette-secondary20: #243424;
  --md-ref-palette-secondary25: #2F3F2E;
  --md-ref-palette-secondary30: #3A4B39;
  --md-ref-palette-secondary35: #465744;
  --md-ref-palette-secondary40: #526350;
  --md-ref-palette-secondary50: #6A7C67;
  --md-ref-palette-secondary60: #849680;
  --md-ref-palette-secondary70: #9EB09A;
  --md-ref-palette-secondary80: #B9CCB4;
  --md-ref-palette-secondary90: #D5E8D0;
  --md-ref-palette-secondary95: #E3F6DD;
  --md-ref-palette-secondary98: #EBFFE6;
  --md-ref-palette-secondary99: #F6FFF0;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001417;
  --md-ref-palette-tertiary10: #001F23;
  --md-ref-palette-tertiary20: #00363C;
  --md-ref-palette-tertiary25: #104247;
  --md-ref-palette-tertiary30: #1F4D53;
  --md-ref-palette-tertiary35: #2C595F;
  --md-ref-palette-tertiary40: #39656B;
  --md-ref-palette-tertiary50: #527E84;
  --md-ref-palette-tertiary60: #6C989F;
  --md-ref-palette-tertiary70: #86B3BA;
  --md-ref-palette-tertiary80: #A1CED5;
  --md-ref-palette-tertiary90: #BCEBF2;
  --md-ref-palette-tertiary95: #CDF8FF;
  --md-ref-palette-tertiary98: #ECFCFF;
  --md-ref-palette-tertiary99: #F5FEFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0F120E;
  --md-ref-palette-neutral10: #1A1C19;
  --md-ref-palette-neutral20: #2F312D;
  --md-ref-palette-neutral25: #3A3C38;
  --md-ref-palette-neutral30: #454743;
  --md-ref-palette-neutral35: #51534F;
  --md-ref-palette-neutral40: #5D5F5B;
  --md-ref-palette-neutral50: #767873;
  --md-ref-palette-neutral60: #8F918C;
  --md-ref-palette-neutral70: #AAACA6;
  --md-ref-palette-neutral80: #C6C7C1;
  --md-ref-palette-neutral90: #E2E3DD;
  --md-ref-palette-neutral95: #F0F1EB;
  --md-ref-palette-neutral98: #F9FAF4;
  --md-ref-palette-neutral99: #FCFDF7;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0C120C;
  --md-ref-palette-neutral-variant10: #171D16;
  --md-ref-palette-neutral-variant20: #2C322A;
  --md-ref-palette-neutral-variant25: #373D35;
  --md-ref-palette-neutral-variant30: #424940;
  --md-ref-palette-neutral-variant35: #4D544B;
  --md-ref-palette-neutral-variant40: #596057;
  --md-ref-palette-neutral-variant50: #72796F;
  --md-ref-palette-neutral-variant60: #8C9388;
  --md-ref-palette-neutral-variant70: #A6ADA2;
  --md-ref-palette-neutral-variant80: #C2C9BD;
  --md-ref-palette-neutral-variant90: #DEE5D9;
  --md-ref-palette-neutral-variant95: #ECF3E7;
  --md-ref-palette-neutral-variant98: #F5FBEF;
  --md-ref-palette-neutral-variant99: #F8FEF2;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #1D6C2C;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #A4F6A4;
  --md-sys-color-on-primary-container-light: #002106;
  --md-sys-color-primary-fixed-light: #A4F6A4;
  --md-sys-color-on-primary-fixed-light: #002106;
  --md-sys-color-primary-fixed-dim-light: #89D98B;
  --md-sys-color-on-primary-fixed-variant-light: #005319;
  --md-sys-color-secondary-light: #526350;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #D5E8D0;
  --md-sys-color-on-secondary-container-light: #101F10;
  --md-sys-color-secondary-fixed-light: #D5E8D0;
  --md-sys-color-on-secondary-fixed-light: #101F10;
  --md-sys-color-secondary-fixed-dim-light: #B9CCB4;
  --md-sys-color-on-secondary-fixed-variant-light: #3A4B39;
  --md-sys-color-tertiary-light: #39656B;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #BCEBF2;
  --md-sys-color-on-tertiary-container-light: #001F23;
  --md-sys-color-tertiary-fixed-light: #BCEBF2;
  --md-sys-color-on-tertiary-fixed-light: #001F23;
  --md-sys-color-tertiary-fixed-dim-light: #A1CED5;
  --md-sys-color-on-tertiary-fixed-variant-light: #1F4D53;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #72796F;
  --md-sys-color-background-light: #FCFDF7;
  --md-sys-color-on-background-light: #1A1C19;
  --md-sys-color-surface-light: #F9FAF4;
  --md-sys-color-on-surface-light: #1A1C19;
  --md-sys-color-surface-variant-light: #DEE5D9;
  --md-sys-color-on-surface-variant-light: #424940;
  --md-sys-color-inverse-surface-light: #2F312D;
  --md-sys-color-inverse-on-surface-light: #F0F1EB;
  --md-sys-color-inverse-primary-light: #89D98B;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #1D6C2C;
  --md-sys-color-outline-variant-light: #C2C9BD;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E2E3DD;
  --md-sys-color-surface-container-high-light: #E8E9E3;
  --md-sys-color-surface-container-light: #EDEEE8;
  --md-sys-color-surface-container-low-light: #F3F4EE;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #F9FAF4;
  --md-sys-color-surface-dim-light: #D9DBD5;
  /* dark */
  --md-sys-color-primary-dark: #89D98B;
  --md-sys-color-on-primary-dark: #00390F;
  --md-sys-color-primary-container-dark: #005319;
  --md-sys-color-on-primary-container-dark: #A4F6A4;
  --md-sys-color-primary-fixed-dark: #A4F6A4;
  --md-sys-color-on-primary-fixed-dark: #002106;
  --md-sys-color-primary-fixed-dim-dark: #89D98B;
  --md-sys-color-on-primary-fixed-variant-dark: #005319;
  --md-sys-color-secondary-dark: #B9CCB4;
  --md-sys-color-on-secondary-dark: #243424;
  --md-sys-color-secondary-container-dark: #3A4B39;
  --md-sys-color-on-secondary-container-dark: #D5E8D0;
  --md-sys-color-secondary-fixed-dark: #D5E8D0;
  --md-sys-color-on-secondary-fixed-dark: #101F10;
  --md-sys-color-secondary-fixed-dim-dark: #B9CCB4;
  --md-sys-color-on-secondary-fixed-variant-dark: #3A4B39;
  --md-sys-color-tertiary-dark: #A1CED5;
  --md-sys-color-on-tertiary-dark: #00363C;
  --md-sys-color-tertiary-container-dark: #1F4D53;
  --md-sys-color-on-tertiary-container-dark: #BCEBF2;
  --md-sys-color-tertiary-fixed-dark: #BCEBF2;
  --md-sys-color-on-tertiary-fixed-dark: #001F23;
  --md-sys-color-tertiary-fixed-dim-dark: #A1CED5;
  --md-sys-color-on-tertiary-fixed-variant-dark: #1F4D53;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #8C9388;
  --md-sys-color-background-dark: #1A1C19;
  --md-sys-color-on-background-dark: #E2E3DD;
  --md-sys-color-surface-dark: #121411;
  --md-sys-color-on-surface-dark: #C6C7C1;
  --md-sys-color-surface-variant-dark: #424940;
  --md-sys-color-on-surface-variant-dark: #C2C9BD;
  --md-sys-color-inverse-surface-dark: #E2E3DD;
  --md-sys-color-inverse-on-surface-dark: #1A1C19;
  --md-sys-color-inverse-primary-dark: #1D6C2C;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #89D98B;
  --md-sys-color-outline-variant-dark: #424940;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #333532;
  --md-sys-color-surface-container-high-dark: #282B27;
  --md-sys-color-surface-container-dark: #1E201D;
  --md-sys-color-surface-container-low-dark: #1A1C19;
  --md-sys-color-surface-container-lowest-dark: #0C0F0C;
  --md-sys-color-surface-bright-dark: #373A36;
  --md-sys-color-surface-dim-dark: #121411;
}