html, body {
    background: #000;
    color: #FFF;
}

a {
    color: #3dbeff;
}

a:visited {
    color: #6deeff;
}

main + footer {
    background: #1b1b1b;
}

/*.layout-link-button {
    background: #3dbeff;
    color: #000000;
    border-radius: 10px;
}
.layout-link-button:hover {
    background: linear-gradient(-45deg, #3dbeff 20%, #5fafd9 50%, #3dbeff 80%);
    background-size: 30%;
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    from {
        background-position-x: 0%;
    }
    to {
        background-position-x: 100%;
    }
}*/

.blog > article {
    border-left-color: #3dbeff;
    border-radius: 1px;
}

.layout-link-button::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url('/assets/btn-progress.svg') 1em 0 no-repeat;
    background-size: contain;
}

.pfp {
    border-radius: 100%;
}

