{% extends "base.html" %}

{% block styles %}
<style>
  {{ load_data(path="public/blog-entry.css") | safe }}
</style>
{% endblock styles %}

{% block content %}

<header>
  <h1><button class="back-button" onclick="window.location.href='/blog'">‹ Blog</button>{{ page.title }}</h1>
  <time datetime="{{ page.date }}"> {{ page.date }}</time>
</header>
<aside id="toc">
  <ul>
  {% for h1 in page.toc %}
    <li>
      <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
            <li>
              <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</aside>
<main>
  {{ page.content | safe}}
</main>
{% endblock content %}
